:root{
  --background-color: #ebecee;
  --object-background-color: #ffffff;
  --main-color: #e64f4a;
  --main-hover-color: #c7322d;
  --text-main-color: #404048;
  --text-sub-color: #777777;
  --text-white: #ffffff;
}



body{
  background-color: var(--background-color);
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  text-align: center;
}

.Container {
  margin: 4vh;
}

.Title {
  background-color: var(--object-background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(20px + 1vmin);
  color: var(--text-main-color);
}

.Subtitle {
  margin-bottom: 20px;
  font-size: calc(12px + 1vmin);
  font-weight: bold;
  color: var(--text-main-color);
}

.RegularText {
  color: var(--text-main-color);
  font-size: calc(8px + 1vmin);
  font-weight: regular;
}

.Form {
  background-color: var(--background-color);
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: var(--text-main-color);
  
}

.Form input[type="text"]{
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--object-background-color);
  display: inline-block;
  box-sizing: border-box;
  width: 160px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  color: var(--text-main-color)
}
.Form label{
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  color: var(--text-white);
  background-color: var(--main-color);
  border-style: none;
  font-weight: bold;
}

button:hover {
  background-color: var(--main-hover-color);
}

.Items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(200px, auto);
  column-gap: 10px;
  row-gap: 1em;
  background-color: var(--background-color);
}

.ItemList {
  background-color: var(--object-background-color);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(6px + 1vmin);
  color: var(--text-main-color);
  border-radius: 5px;
  border-width: 1px;
}

.ItemList img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  object-fit: cover;
}

.ItemInfo {
  margin: 10px;
}
.App-link {
  color: var(--main-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
