body{
  background-color: #222427;
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  text-align: center;
}

.Container {
  margin: 4vh;
}

.Title {
  background-color: #303337;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(20px + 1vmin);
  color: white;
}

.Subtitle {
  margin-bottom: 20px;
  font-size: calc(12px + 1vmin);
  font-weight: bold;
  color: white;
}

.RegularText {
  color: white;
  font-size: calc(8px + 1vmin);
  font-weight: regular;
}

.Form {
  background-color: #222427;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Form input[type="text"]{
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #303337;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  color: #ffffff
}
.Form label{
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #e64f4aff;
  border-style: none;
  font-weight: bold;
}
.Items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(200px, auto);
  column-gap: 10px;
  row-gap: 1em;
  background-color: #222427;
}

.ItemList {
  background-color: #303337;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(6px + 1vmin);
  color: white;
  border-radius: 5px;
  border: #61dafb;
  border-width: 1px;
}

.ItemList img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  object-fit: cover;
}

.ItemInfo {
  margin: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
